
var EquipKeywords = []string{
	"火花",
	"毕业副手",
	"创世",
	"装备",
	"托德",
	"伟大魂",
	"au",
}
var SkillKeywords = []string{
	"六转核心",
	"六转通用",
	"link",
	"三级link",
	"角色卡",
	"核心",
	"超技",
	"冒险家超技",
	"骑士团超技",
}
var CharacterKeywords = []string{
	"内潜",
	"职业内潜",
	"职业名称",
	"buff",
	"怪怪卡",
	"怪怪卡期望",
	"升级经验",
}
var EventsKeywords = []string{
	"周日",
	"dmt",
	"活动",
}
var OthersKeywords = []string{
	"boss",
	"564",
	"神子问答",
	"远征",
	"远征技能",
	"斗燃",
	"刷图",
	"战斗",
	"周常",
	"岛球",
	"wiki",
	"计算器",
	"ask",
	"ask提醒",
	"维护",
	"绑定 + Character Name",
	"查询 + Character Name",
	"izhu", // 绑定后直接查询角色
    "/roll" // (0-100)
}
